<!-- <div>
      <button (click)="switchLanguage('en')">English</button>
      <button (click)="switchLanguage('fr')">Français</button>
  </div> -->
  <!-- Welcome Message -->
  <!-- <h1>{{ 'welcome' | translate }}</h1> -->

<!-- Navbar -->
<!-- <app-navbar></app-navbar> -->


<!-- Router Outlet for Displaying Routed Components -->
<!-- <div class="container mt-4">
  <router-outlet></router-outlet>
</div> -->
<div class="layout">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
